* {
  box-sizing: border-box;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #4ab0b0;
    align-items: center;
}

.title-nav {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4ab0b0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s ease;
}

li a:hover {
  background-color: #fff;
  color:#4ab0b0;
}
